@model eCinema.Models.Actor
@{
    ViewData["Title"] = "Delete Actor Confirmation";
    int age = (DateTime.Now - Model.BirthDate).Days / 365;
}

<section class="section about-section gray-bg" id="about">
    <div class="container">
        <h1 class="text-danger">Are You Sure?</h1>
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">@Model.FullName</h3>
                    <h6 class="theme-color lead">A Celebrity Actor In Hollywood</h6>
                    <p>For <mark>My Biography</mark>, @Model.Bio</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Birthday</label>
                                <p>@Model.BirthDate.ToString("dd M yyy")</p>
                            </div>
                            <div class="media">
                                <label>Age</label>
                                <p>@age</p>
                            </div>
                            <div class="media">
                                <label>Residence</label>
                                <p>@Model.Country</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>@Model.Country</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>@Model.FullName.Split(" ")[0] @@domain.com</p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>820-885-3321</p>
                            </div>
                            <div class="media">
                                <label>Skype</label>
                                <p>@Model.FullName.Split(" ")[0] @@skype.com</p>
                            </div>
                            <div class="media">
                                <label>Actor</label>
                                <p>Available</p>
                            </div>

                        </div>
                        <div class="media row">
                            <form method="post" class="row">
                                <a class="btn btn-outline-info col-4 ms-4" asp-action="Index">Back To Actors' List</a>
                                <input type="submit" class="btn btn-danger col-2 offset-2" value="Confirm">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="@Model.ImageUrl" title="@Model.FullName" alt="@Model.FullName">
                </div>
            </div>
        </div>
    </div>
</section>

@section Style{
    <link rel="stylesheet" href="~/css/ActorDetails.css" />
}